body {
  background-image: url("../Picture/BG.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.div {
  background-color: #82828298;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
}
.logo {
  width: 120px;
  height: 120px;
  border-radius: 30%;
  overflow: hidden;
}
.title {
  color: whitesmoke;
  font-size: 40px;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 30px;
}
.head1 {
  color: rgb(36, 115, 126);
}
.head2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
}
p {
  color: aliceblue;
  font-size: 25px;
}
.abig {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.img {
  border-radius: 20px;
}
.button {
  background-color: rgba(63, 149, 219, 0.671);
  font-size: 10px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 30px;
  text-align: center;
}

.button:hover {
  background-color: #73b4d9;
}
.button2 {
  background-color: rgb(63, 149, 219);
  border-radius: 8px;
  padding: 5px;
  width: 400px;
  border: none;
}
.button2:hover {
  background-color: #73b4d9;
}
.divend {
  background-color: #828282c5;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}
.footer {
  padding: 10px;
  color: rgb(237, 231, 231);
  font-style: italic;
  font-size: 15px;
}
#group {
  display: flex;
  justify-content: center;
}
.table {
  width: 900px;
  height: 900px;
  border-radius: 100px;
  text-align: center;
  margin: auto;
  border: 7px solid rgb(118, 103, 187);
  border-collapse: collapse;
}
th {
  padding: 10px;
  border-top: 1px solid whitesmoke;
  color: whitesmoke;
  background-color: rgb(72, 172, 138);
  font-size: 30px;
}
td {
  padding: 10px;
  border-top: 5px solid rgba(69, 91, 95, 0.562);
  color: white;
  background-color: rgba(95, 158, 160, 0.856);
  font-size: 25px;
}
.abig2 {
  text-decoration: none;
  color: rgb(237, 207, 169);
  font-size: 30px;
}
