body {
  background: linear-gradient(20deg, #065777, #1d6589, #2d81a5, #2cd0e9);
}
.page {
  display: flex;
}
.tab {
  margin-right: 5px;
}
.div {
  display: flex;
  width: 120px;
  height: 120px;
  flex-direction: column;
  margin: 20px;
  padding: 10px 30px 50px 30px;
  text-align: center;
  border-radius: 8px;
  /* 阴影 */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  /* 溢出隐藏 */
  overflow: hidden;
  align-items: center;
  background-color: #8e84845d;
  /* 背景模糊 */
  backdrop-filter: blur(10px);
}
.logo {
  width: 80px;
  height: 80px;
  border-radius: 30%;
}
.title {
  color: whitesmoke;
  font-size: 23px;
  font-family: "jdzhonyuanjian3e638f322f25bbe";
}
.main {
  display: flex;
  width: 120px;
  flex-direction: column;
  margin: 20px;
  padding: 10px 30px 10px 30px;
  background-color: rgba(90, 99, 99, 0.26);
  border-radius: 15px;
  /* 阴影 */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  /* 溢出隐藏 */
  overflow: hidden;
  align-items: center;
  /* 背景模糊 */
  backdrop-filter: blur(5px);
}
p {
  color: aliceblue;
  font-size: 18px;
}
.abig {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
.img {
  border-radius: 20px;
}
.divend {
  background-color: #8f8e8e94;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  margin-top: 30px;
}
.footer {
  padding: 10px;
  color: #ede7e7;
  font-style: italic;
  font-size: 12px;
}
.abig2 {
  text-decoration: none;
  color: #edcfa9;
  font-size: 30px;
}
.top {
  width: 90%;
  margin-left: 30px;
  margin-top: 40px;
  padding: 20px;
  font-size: 45px;
  font-family: "YouYuan-B3e6397871525bbe";
  font-weight: 700;
  color: #fff;
  letter-spacing: 5px;
  background-color: #2d81a5;
  border-radius: 15px;
  /* 阴影 */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* 溢出隐藏 */
  overflow: hidden;
  align-items: center;
  background-color: #8e84845d;
  /* 背景模糊 */
  backdrop-filter: blur(10px);
  text-align: center;
}
/* 卡片样式 */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
}
.container .card {
  /* 相对定位 */
  position: relative;
  width: 250px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 30px;
  border-radius: 15px;
  /* 阴影 */
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  /* 溢出隐藏 */
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  /* 背景模糊 */
  backdrop-filter: blur(10px);
}
.container .card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container .card .content h1 {
  position: absolute;
  top: -100px;
  right: 5px;
  font-size: 128px;
  color: rgba(255, 255, 255, 0.1);
}
.container .card .content p {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  margin: 10px 0 15px 0;
}
.container .card .content a {
  padding: 8px 20px;
  margin-top: 15px;
  background-color: #f0f0f0;
  width: 50%;
  text-align: center;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.container .card .content a:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}
.container .card .content h3 {
  font-size: 28px;
  color: #fff;
  text-align: center;
  padding: 20px;
  /* 默认下移 */
  transform: translateY(70px);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
}
.container .card .content *:not(h3) {
  /* 默认下移+隐藏 */
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.container:hover .card:hover .content h3 {
  /* 鼠标移入，上移+显示 */
  transform: translateY(45px);
  opacity: 1;
}
.container:hover .card:hover .content *:not(h3) {
  /* 鼠标移入，上移+显示 */
  transform: translateY(0);
  opacity: 1;
}
/* 花活 */
ul li {
  position: absolute;
  background-color: #ffffff3b;
  width: 30px;
  height: 30px;
  list-style: none;
  opacity: 0;
  z-index: 1;
  line-height: 30px;
  text-align: center;
  color: #ffffff3b;
  font-size: 7px;
}
.square li {
  top: 40vh;
  left: 60vw;
  /* 执行动画：动画名 时长 线性的 无限次播放 */
  animation: square 10s linear infinite;
}
.square li:nth-child(2) {
  top: 80vh;
  left: 10vw;
  /* 设置动画延迟时间 */
  animation-delay: 2s;
}
.square li:nth-child(3) {
  top: 80vh;
  left: 85vw;
  /* 设置动画延迟时间 */
  animation-delay: 4s;
}
.square li:nth-child(4) {
  top: 10vh;
  left: 70vw;
  /* 设置动画延迟时间 */
  animation-delay: 6s;
}
.square li:nth-child(5) {
  top: 10vh;
  right: 1vw;
  /* 设置动画延迟时间 */
  animation-delay: 8s;
}
.circle li {
  bottom: 0;
  left: 15vw;
  /* 执行动画 */
  animation: circle 10s linear infinite;
}
.circle li:nth-child(2) {
  left: 35vw;
  /* 设置动画延迟时间 */
  animation-delay: 2s;
}
.circle li:nth-child(3) {
  left: 55vw;
  /* 设置动画延迟时间 */
  animation-delay: 6s;
}
.circle li:nth-child(4) {
  left: 75vw;
  /* 设置动画延迟时间 */
  animation-delay: 4s;
}
.circle li:nth-child(5) {
  left: 90vw;
  /* 设置动画延迟时间 */
  animation-delay: 8s;
}
/* 定义动画 */
@keyframes square {
  0% {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    transform: scale(0) rotateY(0deg);
    opacity: 1;
    bottom: 0;
    border-radius: 0;
  }
  100% {
    transform: scale(5) rotateY(1000deg);
    opacity: 0;
    bottom: 90vh;
    border-radius: 50%;
  }
}
/* notice */
.notice {
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px 0px 30px 0px;
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: #2d81a5;
  border-radius: 15px;
  /* 阴影 */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* 溢出隐藏 */
  overflow: hidden;
  align-items: center;
  background-color: #8e84845d;
  /* 背景模糊 */
  backdrop-filter: blur(10px);
  text-align: center;
}
.notice div {
  color: #fff;
  font-size: 40px;
  padding: 20px 20px 0px 20px;
  font-family: "幼圆";
  font-weight: 700;
}
.notice p {
  background-color: #ffffff94;
  height: 1px;
  width: 90%;
}
.notice table {
  table-layout: fixed;
  border-collapse: collapse;
}
.notice thead th {
  color: #2cd0e9;
  font-size: 35px;
  letter-spacing: 2px;
  height: 40px;
}
.notice tbody td {
  font-size: 20px;
  width: 280px;
  height: 50px;
}
.notice tbody td:nth-child(1) {
  color: #51ebc7b9;
}
.notice tbody td:nth-child(2) {
  color: #5d9df0;
}
.notice tbody td:nth-child(3) {
  color: #d099efe5;
}
